/node_modules

/public/assets/css/app.css
/public/assets/js

/public/images/event_img
/public/images/gallery_img
/public/images/article_gallery_img
/public/images/head_slider_img
/public/images/ice_img
/public/images/indoor_img
/public/images/mount_route_description_img
/public/images/mount_route_img
/public/images/news_img
/public/images/other_img
/public/images/outdoor_img
/public/images/partners_img
/public/images/product_option_img
/public/images/product_img
/public/images/region_sectors_img
/public/images/sector_img
/public/images/ice_sector_img
/public/images/sector_local_img
/public/images/mount_route_imgsecurity_img
/public/images/security_img
/public/images/service_img
/public/images/service_img
/public/images/shop_img
/public/images/tour_img
/public/images/service_img
/public/images/uploads
/public/images/user_img
/public/images/forum_post_img
/public/images/film_img
/public/images/article_img
/public/images/spot_rocks_img
/public/images/suport_local_bisnes_img
/public/images/tech_tip_img
/public/images/user_profil_img
/public/images/404/old

/climbing.loc.code-workspace

/package_resrev.json
/composer_reserv.json

/public/storage
/storage/*.key
/storage/logs/laravel.log
/vendor
.env
.env.backup
# .env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
